:root {

  /* Grayscale */
  --gray-100: #F3F6FF;
  --gray-200: #EFF2FC;
  --gray-300: #E2E5F1;
  --gray-400: #D4D7E5;
  --gray-500: #B4B7C9;
  --gray-600: #9397AD;
  --gray-700: #565973;
  --gray-800: #33354D;
  --gray-900: #0B0F19;

  /* Brand/Gradient */
  --primary: #6366F1;
  --blue-lotus: #6366F1;
  --lavender-indigo: #8B5CF6;
  --pinkish-purple: #D946EF;

  /* System */
  --error: #EF4444;
  --success: #22C55E;
  --warning: #FFBA08;
  --info: #4C82F7;

  /* Shadow */
  --small-shadow-1: 0, 4.4, 12, -1, rgba(19, 16, 34, 0.06);
  --small-shadow-2: 0, 2, 6.4, -1, rgba(19, 16, 34, 0.03);
  --medium-shadow-1: 0, 4.4, 20, -1, rgba(19, 16, 34, 0.05);
  --medium-shadow-2: 0, 4, 9, -1, rgba(19, 16, 34, 0.03);
  --large-shadow-1: 0, 4.8, 24.4, -6, rgba(19, 16, 34, 0.1);
  --large-shadow-2: 0, 4, 13, -2, rgba(19, 16, 34, 0.06);
  --brand-btn: 0, 8, 18, -8, rgba(99, 102, 241, 0.9);
  --secondary: 0, 8, 18, -8, rgba(19, 16, 34, 0.15);

  /* Display */
  --display1: 5rem;
  --display2: 4.2rem;
  --display3: 4rem;
  --display4: 3.5rem;
  --display5: 3rem;
  --display6: 2.625rem;

  /* Headings */
  --heading1: 2.5rem;
  --heading2: 2rem;
  --heading3: 1.75rem;
  --heading4: 1.5rem;
  --heading5: 1.25rem;
  --heading6: 1rem;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {font-size: var(--heading1); font-weight: 800; line-height: 1.3;}
h2 {font-size: var(--heading2); font-weight: 800; line-height: 1.3;}
h3 {font-size: var(--heading3); font-weight: 800; line-height: 1.3;}
h4 {font-size: var(--heading4); font-weight: 800; line-height: 1.4;}
h5 {font-size: var(--heading5); font-weight: 800; line-height: 1.4;}
h6 {font-size: var(--heading6); font-weight: 800; line-height: 1.4;}

.display1 {font-size: var(--display1); font-weight: 800; line-height: 1.3;}
.display2 {font-size: var(--display2); font-weight: 800; line-height: 1.3;}
.display3 {font-size: var(--display3); font-weight: 800; line-height: 1.3;}
.display4 {font-size: var(--display4); font-weight: 800; line-height: 1.3;}
.display5 {font-size: var(--display5); font-weight: 800; line-height: 1.3;}
.display6 {font-size: var(--display6); font-weight: 800; line-height: 1.3;}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background: rgb(99,102,241);
  background: radial-gradient(circle, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
}

header {
  .container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
  }
  img {
    margin-right: 48px;
  }
  nav a {
    color: var(--gray-800);
    font-weight: 600;
    line-height: 1.6;
    text-decoration: none;
  }
}

.dark-mode-switch {
  .switch {
    background-color: var(--gray-600);
    border-radius: 20px;
    display: block;
    height: 24px;
    width: 46px;
    .slider-round {
      background-color: white;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }
}

section {
  .container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
  }
}

.one-app-explanation {
  grid-column: 1 / 3;
}

.phone-display {
  grid-column: 3 / 5;
  position: relative;
  height: 688px;
  overflow: hidden;
  img {
    position: absolute;
  }
  .image-phone-creditcard {
    right: 0;
    z-index: 5;
  }
  .image-phone-mybudget {
    right: 240px;
    top: 135px;
    z-index: 4;
  }
}

.app-feature {
  .logo-ipsum {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
    img {
      border: 1px solid var(--gray-300);
      border-radius: 8px;
      padding: 2rem 2.15rem;
    }
  }
  .container {
    display: flex;
  }
}

.how-work {
  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
  }
}

.description-feature {
  .container {
    display: flex;
  }
}